/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/*------------------TOP BAR STYLES ------------------*/

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

ul#topbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#topbar li {
    float: left;
    list-style-type: none;
}

ul#topbar li:first-child {
    display: flex;
    align-items: center;
}

ul#topbar li a {
    color: white;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}

ul#topbar li a:hover {
    color: #111111;
}

ul#topbar li .phone a span:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    font-size: 14px;
    vertical-align: bottom;
    top: 0px;
    position: relative;
}

.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}

.product-grid .fl-button span {
    color: #ffffff !important;
}

.product-grid .fl-button:hover {
    background-color: transparent !important;
}

.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

.carousal .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
    width: 60px !important;
    max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -2px !important;
}

.product-grid .fl-button {
    background-color: #a4774f !important;
    border: 1px solid #a4774f !important;
}

.product-grid .fl-button span {
    color: #ffffff !important;
}

.product-grid .fl-button:hover {
    background-color: transparent !important;
}

.product-grid .fl-button:hover span {
    color: #a4774f !important;
}

form select {
    padding: 6px 0px !important;
}

.gform_wrapper ul li input,
.gform_wrapper ul li select,
.gform_wrapper ul li textarea {
    color: #000!important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
    margin-top: 0px !important;
    vertical-align: top !important;
}

.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
    line-height: 13px;
    vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
    vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 15px;
}

.get-direction .fl-html .storename .direction a {
    display: block;
    text-align: center;
}

.store-opening-hrs-container .store-opening-hrs li {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
}

.style-product_list .pro-container>.row {
    flex-direction: row;
}

.style-product_list .pro-container .pro-roomscene .main-image>img {
    display: block;
    visibility: hidden;
}

.style-product_list .pro-container>.row>div {
    flex: 1;
}

.style-product_list .pro-container>.row>div.clearfix {
    flex: 0;
}

.fl-builder-content .fl-node-5c6fdfb62272a a:hover {
    color: #a4774f!important;
}

.uabb-gf-style .gform_wrapper .gfield select.large.gfield_select option {
    color: #000!important;
}


/*------------------END TOP BAR STYLES ------------------*/

.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half,
.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
    max-width: 50%!important;
}

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100%!important;
    padding-right: 16px;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
    margin-right: 0px!important;
    padding-right: 16px!important;
}

.footer-wrp ul li a:hover {
    color: #a4774f!important;
}

.fl-node-5d2df0a834261 .uabb-gf-style .gform_wrapper .gfield_checkbox li label a:hover {
    text-decoration: underline;
}

@media (max-width:1024px) {
    ul#topbar li a {
        font-size: 11px;
        padding: 5px;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 8px;
        font-size: 13px;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
    }
}

@media (max-width:992px) {
    ul#topbar>li:last-child {
        display: block !important;
    }
    .social-icons-container {
        text-align: center;
    }
    .fl-button span.fl-button-text {
        color: #fff;
    }
    .uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
        width: auto !important;
        color: #fff;
    }
    .homePageSlider .fl-slide-foreground {
        /* display: none; */
    }
}

@media(max-width:767px) {
    .fl-page-bar .fl-page-bar-row .text-left * {
        text-align: left !important;
    }
    ul#topbar>li:last-child {
        float: none !important;
    }
    .fl-module-heading h1.fl-heading {
        line-height: 48px !important;
    }
}

.location-wrap-row .fl-module-icon .fl-icon-wrap span.fl-icon i:before {
    font-size: 37px;
    color: #b73143;
}

.location-wrap-row .fl-module-icon .fl-icon-wrap .fl-icon-text {
    padding-left: 0px;
}

.uabb-modal .popup-img-data {
    width: 40%;
    float: left;
}

.uabb-modal .popup-content-data {
    width: 60%;
    float: right;
    padding: 0 20px;
    color: #000 !important;
    font-size: 15px !important;
}

.uabb-modal-parent-wrapper .uabb-modal .uabb-content {
    max-width: 1000px !important;
    width: 100% !important;
}

.responsive-menu-open {
    overflow: hidden;
}

html:not(.responsive-menu-open) #responsive-menu-container {
    transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
}

ul.storename .phone {
    white-space: nowrap;
}

@media (max-width:768px) {
    .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    }
    #responsive-menu-wrapper .storename .phone>a {
        color: #fff;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col>.fl-col-content {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
        margin: 0px;
    }
    .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
        padding: 0 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495deccd.fl-row>.fl-row-content-wrap {
        padding-bottom: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc9.fl-row>.fl-row-content-wrap {
        margin-top: -49px!important;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd6>.fl-module-content,
    .fl-builder-content-97052 .fl-node-5d7f5495dece3>.fl-module-content {
        margin-top: 20px!important;
    }
    .fl-builder-content-97052 .fl-node-5dcd4a3e3035b.fl-module>.fl-module-content {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba>.fl-col-content {
        margin-right: 10px;
        margin-left: 10px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decb6.fl-row>.fl-row-content-wrap {
        padding-top: 0px;
    }
    .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-builder-content-97052 .fl-node-5d83277bab2cd.fl-module>.fl-module-content {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .fl-builder-content-97052 .fl-visible-desktop-medium {
        display: none;
    }
    .fl-builder-content-97052 .fl-visible-mobile {
        display: block;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd9 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col>.fl-col-content {
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        text-align: center;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col>.fl-col-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495dece2>.fl-module-content {
        margin: 20px 0!important;
    }
}

@media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
    .br-none .uabb-infobox-title-wrap .uabb-infobox-title br {
        display: none;
    }
    #responsive-menu-additional-content ul li .phone a {
        color: #fff !important;
    }
    .fl-page-bar .fl-page-bar-row.row {
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:450px) {
    .fl-page-bar .fl-page-bar-row.row {
        display: block;
    }
    .fl-page-bar .fl-page-bar-row .text-left {
        width: 100%;
        float: none;
        padding: 0px;
        text-align: center !important;
    }
    .fl-page-bar .fl-page-bar-row .text-left * {
        text-align: center !important;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        /* display: none; */
    }
    .fl-col-group .boxes-on-mobile-full-width {
        width: 100% !important;
    }
    footer .fl-col-group .boxes-on-mobile-full-width {
        width: 100% !important;
    }
    .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
        padding-right: 0;
    }
    button#responsive-menu-button {
        top: 115px !important;
    }
}

body .gform_wrapper .top_label .timeEstimate div.ginput_container {
    margin-top: 0 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour {
    max-width: calc(5rem + .5rem);
}

.gform_wrapper .timeEstimate .gfield_time_minute {
    max-width: 5rem;
}

.timeEstimate label {
    margin-bottom: 13px;
}

.gform_wrapper select {
    border: 1px solid #e6e6e6;
}